<%= render 'shared/page_title', title: "#{@user.username}'s profile" %>
<div class="row justify-content-md-center">
  <div class="col-4">
    
  </div>
</div>
<!--<% if @user.posts.count != 0 %>-->
  
<% else %>
  <h4 align="center">No posts yet!</h4>
<% end %>