<div class = "middle">
    <h1>Jabawakez Team</h1>
    <br/>
</div>

<div class="container">
    <div class = "left">
        <%= image_tag("profile1.jpg", :alt => "rss feed", :class => "imageabout") %>
        <p class = "text-header-about">Member 1</p>
        <div class = "text-about">
            <p>Name: Lư Hán Luân</p>
            <p>Student ID: 1312348</p>
        </div>
    </div>
    <div class = "right">
        <%= image_tag("profile2.jpg", :alt => "rss feed", :class => "imageabout") %>
         <p class = "text-header-about">Member 2</p>
        <div class = "text-about">
            <p>Name: Đào Chí Minh</p>
            <p>Student ID: 1312359</p>
        </div>
    </div>
</div>