<div class = "middle">
    <h1>Jabawakez Team</h1>
    <br/>
</div>

<div class="container">
    <div class = "left">
        <%= image_tag("profile1.jpg", :alt => "rss feed", :class => "imageabout") %>
        <p class = "text-header-about">Member 1</p>
        <div class = "text-about">
            <p>Name: Lư Hán Luân</p>
            <p>Student ID: 1312348</p>
        </div>
    </div>
    <div class = "right">
        <%= image_tag("profile2.jpg", :alt => "rss feed", :class => "imageabout") %>
         <p class = "text-header-about">Member 2</p>
        <div class = "text-about">
            <p>Name: Đào Chí Minh</p>
            <p>Student ID: 1312359</p>
        </div>
    </div>
</div>

</div>
<div class="container middle">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3296.0063549413894!2d106.68201956261079!3d10.762648834344038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43900f1d4539a3d!2sUniversity+of+Science%2C+Downtown+Campus!5e0!3m2!1sen!2s!4v1507558473395"  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>