<div class="jumbotron center">
  <h1>Welcome to CubeBlog</h1>
  <h2>The best blog app!</h2>
  <% if !logged_in? %>
    <p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-4 pl-5">
    <h2>Explore Blog</h2>
    <p>We have a ton of blogs for you to explore, not sure about the app yet? Don't worry just view as a guest</p>
    <p><%= link_to "View all blogs as a Guest!", root_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
  <div class="col-lg-4">
    <h2>Unlock all features!</h2>
    <p>Sign up for the app and unlock all features!!</p>
    <br/>
    <p><%= link_to "Sign up for an account", root_path, class: "btn btn-primary btn-xlarge" %></p>
 </div>
  <div class="col-lg-4">
    <h2>Have a friend, need talk?</h2>
    <p>Send messenges to your friend now</p>
    <br/>
    <p><%= link_to "View messengers listing", root_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
</div>