@import "bootstrap";
@import "about";

.jumbotron {
  background-image: asset-url('coverimage.jpg');
  background-size: cover;
  height: 600px;
}

.center {
  text-align: center;
}

body {
  height: 100%;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}


$footer-header-height: 102px;
$footer-body-height: 50px;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-repeat: repeat-x;
  margin-bottom: $footer-header-height + $footer-body-height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      display: inline;
      margin-right: 1em;
    }
  }
}

footer.header {
  bottom: $footer-body-height;
  background: image-url( "footer.jpg" ) repeat-x;
  height: $footer-header-height;
}
footer.body {
  background: image-url( "footer.jpg") repeat;
  min-height: $footer-body-height;
}
