@import "bootstrap";

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 600px;
}

.center {
  text-align: center;
}

body {
  height: 100%;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
