<footer class="body">
  <div class="container center">
    <ul>
      <li>Trang web được thiết kế bởi: Lư Hán Luân và Đào Chí Minh</li>
      <li>
        <a href="https://github.com/tmdt-1718/lab01-1312359-1312348">
          <%= image_tag("github.jpg", {:style => "width:40px;"}) %>
        <a/>
      </li>
    </ul>
  </div>
</footer>